* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root {
    --index: calc(1vw + 1vh);
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
}
@font-face {
    font-family: timeburner-GA;
    src: url(../fonts/timeburnernormal.ttf);
}
body {
    background-color: black;
    color: aqua;
    font-family: timeburner-GA;
}
a {
    color: #00aeef;
    text-decoration: none;
}
.header {

}
.header-elements {
    max-width: 900px;
    width: 100vw;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    /* border: solid 1px red; */
}
.logo {
    width: calc(var(--index) * 13);
    height: calc(var(--index) * 16);
    background-image: url(./../img/Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 50%;
    transform: translate(-50%);
    /* border: solid 1px blue; */
}
.main-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50%;
    transform: translate(-50%, calc(var(--index) * (-2.5)));
    border-radius: 40px 40px 0px 0px;
    background: linear-gradient(to bottom, rgba(66, 208, 255, 0.15), transparent);
    border-left: linear-gradient(to bottom 1px rgb(74, 216, 255));
    border-top: solid 1px rgba(74, 216, 255, .7);
    border-right: linear-gradient(to bottom 1px rgb(74, 216, 255));
    backdrop-filter: blur(2px);
    /* border: solid 1px green; */
}


  .menu-item {
    position: relative;
    z-index: 1;
    overflow: hidden;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 200px;
    height: 70px;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: .2em;
  
    background-color: transparent;
     /* border: solid 1px green; */
  }
  .menu-item::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
  
    background-image: url('../img/btn_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    opacity: 0;
    pointer-events: none;
  
    transition: opacity 0.8s ease;
  }
  .menu-item:hover::before {
    opacity: 1;
  }
  .menu-item a {
    color: #85deff;
    transition: color 0.2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-item a:hover {
    color: #fff;
  }
  


.layers {
    perspective: 1000px;
}
.layers__container {
    height: 100vh;
    justify-content: center;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    transition: 1s cubic-bezier(.14,.51,.37,.79);
}
.layers__item {
    position: absolute;
    background-size: cover;
    background-position: center;
    inset: 0vw;
}
.layer-1 {
    transform: translateZ(-300px) scale(1.2);
}
.layer-2 {
    transform: translateZ(-150px) scale(.8);
    /* opacity: .5; */
}
.layer-Assassin {
    transform: translateZ(0px) scale(.9);
    margin-left: 10%;
}
.layer-Jager {
    transform: translateZ(100px) scale(.8);
}
.layer-Myrmillo {
    transform: translateZ(300px) scale(.8);
}
.layer-3 {
    transform: translateZ(400px);
    opacity: .5;
}
.layer-4 {
    transform: translateZ(700px) scale(.35);
    opacity: .25;
}
.layer-1, .layer-2, .layer-3, .layer-4, .layer-Assassin, .layer-Jager, .layer-Myrmillo{
    pointer-events: none;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .3;
}
.content-header {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: bold;
}